html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  :root {
    font-size: calc(1vw + 1vh + .5vmin);
    --bg-title1: #000000;
    --bg-title2: #ffffff;
    --txt-title1: #ffffff;
  }
  body {
    background-color: #340077;
   
    font: 1em/1.4 'Heebo', sans-serif;
  }
  
  /* Grid fallback support */
  .grid {
    display: block;
  }
  .grid {
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 25%;
    margin-top: 5%;
  }
  .grid__title, .grid__subtitle {
    overflow: hidden;
    position: relative;
    align-self: baseline;
    justify-self: start;
    transform-style: preserve-3d;
    animation: .9s ease-in-out blockIn forwards;
  }
  .grid__title {
    color: var(--txt-title1);
    background-color: var(--bg-title1);
  }
  /* Grid fallback support */
  .grid__subtitle {
    display:inline-block;
  }
  .grid__subtitle {
    grid-row: 2 / 2;
    background-color: var(--bg-title2);
  }
  .grid__title h2, .grid__subtitle p {
    padding: 0 1em;
    opacity: 0;
    animation: 1.4s .2s ease-in-out textIn forwards;
  }
  .mask, .delay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: .9s ease-in-out maskIn forwards;
    background-color: #08AEEA;
    background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);
    transform-style: preserve-3d;
  }
  .delay {
    animation-delay: .1s;
  }
  
  @keyframes maskIn {
    0% {
      transform: translateX(-105%);
    }
    100% {
      transform: translateX(105%);
    }
  }
  @keyframes blockIn {
    0% {
      transform: translateX(-105%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes textIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.imagenPerfil2{
  height: 400px;
  width: 400px;
}


.imagenPerfil{
  height: 80%;
  width: 80%;
  object-fit: cover;
  border-radius: 150px;
}
.contenedor{
  display: flex;
}
.contendeorperfillista{
    height: 100%;
    width: 50%;
    background-color: aquamarine;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}